/AGENTS.md           export-ignore
/.agents             export-ignore
/.dex                export-ignore
/.ran-booster-workbench export-ignore
/.github             export-ignore
/README.md           export-ignore
/CHANGELOG.md        export-ignore
/docs                export-ignore
/docs/**             export-ignore
/release-files.txt   export-ignore
/release-please-config.json export-ignore
/.release-please-manifest.json export-ignore
/scripts             export-ignore
/tests               export-ignore
/.editorconfig       export-ignore
/.gitattributes      export-ignore
/.gitignore          export-ignore
/.npmrc              export-ignore
/package.json        export-ignore
/pnpm-lock.yaml      export-ignore
/pnpm-workspace.yaml export-ignore
/composer.json       export-ignore
/composer.lock       export-ignore
/phpunit.xml         export-ignore
/phpunit.xml.dist    export-ignore
/phpcs.xml           export-ignore
/phpcs.xml.dist      export-ignore
/.phpcs.xml          export-ignore
/.phpcs.xml.dist     export-ignore
/.eslintrc           export-ignore
/.eslintrc.json      export-ignore
/eslint.config.js    export-ignore
/eslint.config.mjs   export-ignore
/.stylelintrc        export-ignore
/.stylelintrc.json   export-ignore
/stylelint.config.js export-ignore
/.prettierignore     export-ignore
/.prettierrc         export-ignore
/build               export-ignore
/.plugin-check       export-ignore
/cache               export-ignore
/.cache              export-ignore
/.phpunit.cache      export-ignore
/.phpunit.result.cache export-ignore
/.phpcs-cache        export-ignore
/.eslintcache        export-ignore
/.stylelintcache     export-ignore
/coverage            export-ignore
/logs                export-ignore
/vendor              export-ignore
/node_modules        export-ignore
/secrets.json       export-ignore
/secrets.json.lock  export-ignore
/.ran-booster       export-ignore
/boosterlog          export-ignore
/*.log               export-ignore
/*.zip               export-ignore
/*.tar               export-ignore
/*.tar.gz            export-ignore
/*.tgz               export-ignore
